#page-container {
    padding-top: 0 !important;
}

#main-content {
    .container {
        &:before {
            display: none;
        }
    }
}

@media only screen and (max-width: $screen__xl) {
    .container {
        padding: 0 30px;
    }
}