.page-contact-us {
    .et_pb_section {
        padding: 0;
    }
}

.contact-us-form {
    label {
        font-size: 1.6rem;
        margin-bottom: 15px;
        display: inline-block;
    }

    textarea {
        resize: vertical;
    }

    input,
    textarea,
    select {
        margin-top: 5px;
        padding: 12px;
        font-size: 1.4rem;

        &.wpcf7-submit {
            background: transparent;
        }
    }

    select {
        cursor: pointer;
    }

    input,
    textarea,
    select {
        background: lighten($lt-gray, 10%);
        transition: background 0.3s ease;
        width: 100%;

        &:focus {
            background: $white;
        }
    }

    &-wrap {
        &.et_pb_section {
            padding-top: 0;
        }
    }

    .wpcf7-form {
        p {
            display: inline-block;

            &:nth-of-type(3),
            &:nth-of-type(4) {
                display: block;
            }

            &:nth-of-type(1) {
                float: left;
            }

            &:nth-of-type(2) {
                float: right;
            }

            &:nth-of-type(1),
            &:nth-of-type(2) {
                width: 49%;

                input,
                label {
                    width: 100%;
                }
            }

            &:nth-of-type(3) {
                input,
                label {
                    width: 100%;
                }
            }

            &:nth-of-type(4) {
                textarea,
                label {
                    width: 100%;
                }
            }
        }
    }

    .wpcf7-submit {
        border: 2px solid $black;
        color: $black;
        font-family: $proximanova-bold;
        border-radius: 3px;
        font-size: 2rem;
        padding: 10px 20px;
        position: relative;
        background: transparent;
        transition: background 0.3s ease;

        &:hover {
            cursor: pointer;
            background: lighten($lt-gray, 10%);
        }
    }

    .wpcf7-not-valid-tip {
        font-family: $proximanova-bold;
        font-size: 1.6rem;
        margin-top: 10px;
    }

    .wpcf7-validation-errors {
        border-color: #f00;
        font-size: 1.6rem;
        padding: 20px;
        color: #f00;
        font-family: $proximanova-bold;
    }

    .wpcf7-mail-sent-ok {
        padding: 20px;
        font-size: 1.6rem;
        color: #398f14;
        font-family: $proximanova-bold;
    }
}

.subscribe-form {
    label {
        margin-bottom: 0;
        display: block;

        &[for="ctct-opt-in"] {
            display: inline-block;
            color: #666666;
            font-size: 1.3rem;
        }
    }

    input[type="email"] {
        width: 100%;
    }

    input[name="email"],
    select,
    .g-recaptcha {
        margin-bottom: 15px;
    }

    .ctct-form-field-submit {
        margin: 20px 0;

        input {
            border: 2px solid $black;
            color: $black;
            font-family: $proximanova-bold;
            border-radius: 3px;
            font-size: 2rem;
            padding: 10px 20px;
            position: relative;
            background: transparent;
            transition: background 0.3s ease;

            &:hover {
                cursor: pointer;
                background: lighten($lt-gray, 10%);
            }
        }
    }

    sub {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

.contact {
    &-numbers {
        &-item {
            h2 {
                color: $red;
                font-family: $proximanova-black;
                font-size: 2.6rem;
                margin-bottom: 5px;
            }

            label,
            span {
                color: $black;
                font-size: 1.4rem;
                font-family: $proximanova-bold;
            }
        }
    }
}

.et_pb_gutters3 {
    .contact-numbers-row {
        .et_pb_column_1_4 {
            width: 20.875%;
        }
    }
}

@media only screen and (max-width: $screen__xl) {
    .contact {
        &-numbers {
            &-row {
                &.et_pb_row {
                    .et_pb_column {
                        .contact-numbers-item {
                            &.et_pb_module {
                                &:last-child {
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screen__xs) {
    .contact-us-form {
        .wpcf7-form  {
            p {
                display: block;

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    width: 100%;
                    float: none;
                }
            }
        }
    }

    .contact {
        &-numbers {
            &-row {
                &.et_pb_row {
                    .et_pb_column {
                        .contact-numbers-item {
                            &.et_pb_module {
                                &:last-child {
                                    margin-bottom: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.newsletter {
    &-input {
        width: 100%;
    }

    &-submit {
        border: 2px solid $black;
        color: $black;
        font-family: $proximanova-bold;
        border-radius: 3px;
        font-size: 2rem;
        padding: 10px 20px;
        position: relative;
        background: transparent;
        transition: background 0.3s ease;
        margin: 20px 0;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            background: lighten($lt-gray, 10%);
        }
    }
}
