#main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

#footer-bottom {
    padding: 10px 0;
    background-color: $red;

    #footer-info {
        color: $white;
        padding-bottom: 0;
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}

.et-social-icon {
    a {
        color: $white;
    }
}