#footer-bottom {
    padding: 10px 0;
    background-color: $red;

    #footer-info {
        color: $white;
        padding-bottom: 0;
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
}

.et-social-icon {
    a {
        color: $white;
    }
}