.home.page {

    .et_pb_more_button {
        color: $red-secondary;
    }

    .et_pb_button {
        border-color: $red-secondary;
        font-family: $proximanova-bold;
    }

    .et_pb_section,
    .et_pb_row {
            padding: 0;
    }

    .history {
        background-image: url('images/about-bg.jpg');

        h1 {
            font-family: $proximanova-black;
            font-size: 5rem;
            text-transform: uppercase;
            margin-top: 20px;
        }

        p {
            font-size: 1.6rem;
            font-family: $proximanova-bold;
            line-height: 1.9rem;
        }

        .et_pb_button {
            color: $red-secondary;
            font-family: $proximanova-bold;
        }
    }

    .social-wrap {
        margin-top: 50px;

        .et_pb_button {
            font-size: 1.8rem;

            &:after {
                top: 2px;
            }
        }
    }

    .instagram-feed-wrap {
        .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
            width: auto;
            max-width: 100%;
        }
    }

    .follow-heading {
        margin-top: 90px;
    }

    .instagram-feed-button-wrap {
        margin: 30px 0;
    }

    .instagram-follow-button,
    .facebook-follow-button,
    .twitter-follow-button {
        &.et_pb_button {
            border-color: $black;
            color: $black;
        }
    }

    .facebook {
        &-feed-wrap {
            padding: 10px;
            border: 1px solid $red;
            margin-top: 12px;
            margin-bottom: 49px;

            .cff-page-name {
                padding: 0;
                font-size: 1.8rem;
            }

            .cff-post-text {
                color: $black;
            }

            .cff-text {
                font-size: 1.4rem;

                a {
                    font-size: 1.4rem;
                }
            }

            .cff-media-link {
                a {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .twitter {
        &-feed-wrap {
            @extend .facebook-feed-wrap;

            #ctf {
                .ctf-item {
                    padding: 20px 10px 15px 10px;

                    &:first-child {
                        padding-top: 0;
                    }
                }

                .ctf-author-avatar {
                    border-radius: 0;
                }

                &.ctf-super-narrow .ctf-author-avatar,
                &.ctf-super-narrow .ctf-author-avatar img {
                    width: 40px;
                    height: 40px;
                }

                &.ctf-narrow {
                    .ctf-tweet-content {
                        padding: 5px 0;
                    }
                }

                .ctf-tweet-meta {
                    display: block;
                    padding-left: 9px;
                }

                .ctf-author-name {
                    margin-top: 0;
                    margin-bottom: -2px;
                }
            }

            .ctf-type-usertimeline {
                padding: 5px 0;
            }

            .ctf-tweet-text {
                color: $black;
                font-size: 1.4rem;
                line-height: 19px;
            }

            .ctf-author-box {
                .ctf-author-name {
                    color: $red !important;
                    font-size: 1.8rem;
                }
            }

            .ctf-tweet-date {
                color: #9197a3 !important;
                font-size: 1.1rem;
            }
        }
    }

    .social-buttons-list {
        display: inline-block;

        a {
            background-color: $black !important;
        }
    }

    .social-links-wrap {
        text-align: center;
        margin-bottom: 30px;
    }

    .et_pb_social_media_follow li {
        a.icon {
            width: 64px;
            height: 64px;
            overflow: hidden;

            &:before {
                width: 64px;
                height: 64px;
                padding-top: 15px;
                font-size: 3.6rem;
            }

            &.rounded_rectangle {
                border-radius: 0;
            }
        }
    }

    .mCS-corropolese.mCSB_scrollTools {
        .mCSB_dragger_bar {
            background-color: $red;
            width: 2px;
        }

        .mCSB_draggerRail {
            background-color: transparent;
        }
    }

    .et_pb_slider {
        .et_pb_slide {
            height: 764px;

            .slide-with-text {
                overflow: hidden;

                .first-line,
                .second-line {
                    font-size: 7rem;
                    text-align: left;
                    text-transform: uppercase;
                    font-family: 'Proximanova Black';
                    text-shadow: none;
                    background: rgba(0,0,0,0.70);
                    float: left;
                    clear: left;
                    padding: 10px 15px 6px 15px;
                }

                .first-line {
                    margin-bottom: 10px;
                }

                .second-line {
                    color: $red-secondary;
                }

                &.goldbelly-slide {
                    img {
                        margin-bottom: 15px;
                        float: left;
                    }

                    .btn {
                        float: left;
                        clear: both;
                        margin-top: 30px;
                    }
                }
            }
        }

        .et_pb_slide_0 {
            background-position: inherit;

            .et_pb_slide_description {
                padding: 0;
            }

            .et_pb_container {
                width: 45%;
            }
        }
    }

    .et_pb_slide_content {
        .slide-with-text {
            p {
                &:last-of-type {
                    padding-bottom: 0;
                }
            }
        }
    }
}

#cff .cff-author .cff-page-name.cff-author-date {
    font-size: 21px;
}

#ctf.ctf-styles .ctf-context {
    padding-left: 0;
    font-size: 18px;
}

#ctf .ctf-twitterlink {
    margin-top: 9px;
    line-height: 0;
}

.ctf-tweet-actions {
    font-size: 22px;
}

.ctf-author-box {
    position: relative;
}

#ctf.ctf-narrow .ctf-corner-logo {
    position: absolute;
    top: 3px;
    right: -25px;
}

.ctf-tweet-text {
    a {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: $screen__xl) {
    .home.page {
        .et_pb_section .et_pb_row .et_pb_column .et_pb_module:last-child {
            margin-bottom: 10px;
        }

        .et_pb_slider {
            .et_pb_slide_0 {
                background-position: right;

                .et_pb_container {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: $screen__l) {
    .et_pb_column {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: $screen__m) {
    .home.page {
        .et_pb_slider {
            .et_pb_slide {
                height: 400px;

                .slide-with-text {
                    .first-line,
                    .second-line {
                        font-size: 4rem;
                    }

                    &.goldbelly-slide {
                        img {
                            width: 200px;
                            height: auto;
                        }
                    }
                }
            }

            .et_pb_slide_0 {
                background-position: right;

                .et_pb_container {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: $screen__s) {
    .home.page {
        .et_pb_slider {
            .et_pb_slide {
                height: 275px;

                .slide-with-text {
                    .first-line,
                    .second-line {
                        font-size: 2rem;
                    }

                    &.goldbelly-slide {
                        img {
                            width: 120px;
                        }

                        .btn {
                            font-size: 1.2rem;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

}