.price-table {
    &.list-only {
        ul {
            li {
                font-size: 1.4rem;
                color: $black;
            }
        }
    }
    .tablepress {
        margin-top: 15px;
        border: 0;
        width: 550px;

        tbody {
            td {
                border-top: 0;
            }
        }

        &-table {
            &-name {
                color: $red;
                font-size: 2.6rem;
                font-family: $proximanova-black;
                margin-bottom: 5px;
            }

            &-description {
                color: $black;
                font-size: 1.4rem;
                font-family: $proximanova-bold;
            }
        }

        .odd {
            td {
                background-color: transparent;
            }
        }

        th {
            padding: 0;
        }
    }

    .row-1 {
        td {
            color: $red;
            font-size: 2rem;
            font-family: $proximanova-bold;
        }
    }

    &.tray-table {
        .tablepress {
            tbody {
                td {
                    border: 0;
                    padding: 3px 0;
                }
            }
        }
        .row-1 {

            &:hover {
                background: transparent;
            }
            td {
                font-size: 2rem;
                color: $red;
            }

            .column-2,
            .column-3,
            .column-4 {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }

        .row-2 {

            &:hover {
                background: transparent;
            }
            
            .column-2,
            .column-3,
            .column-4 {
                padding: 0 0 5px 0;
                font-size: 1.2rem;
            }
        }

        tr {
            background: transparent;
            transition: background 0.3s ease;

            &:hover {
                background: lighten($lt-gray, 10%);
                cursor: default;
            }
            td {
                font-size: 1.4rem;
                color: $black;
            }
        }
    }

    &.sandwiches-table {
        tr {
            background: transparent;
            transition: background 0.3s ease;

            &:hover {
                background: lighten($lt-gray, 10%);
                cursor: default;
            }

            td {
                font-size: 1.4rem;
                color: $black;
            }

            td.column-1 {
                text-align: left;
            }
            td.column-2 {
                text-align: right;
                padding-right: 3px;
            }
        }

        .tablepress {
            width: 300px;

            tbody {
                td {
                    border-top: 0;
                    padding: 3px 0;
                }
            }
        }

        .row-1 {
            td {
                font-family: $site-font;
            }
        }
    }

    &.lunch-table,
    &.table-stromboli {
        .tablepress {
            tr {
                background: transparent;
                transition: background 0.3s ease;

                &:hover {
                    background: lighten($lt-gray, 10%);
                    cursor: default;
                }
                td {
                    font-size: 1.4rem;
                    color: $black;
                    padding: 3px 0;
                }

                &.row-1 {
                    .column-2,
                    .column-3 {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: $red;
                    }

                    &:hover {
                        background: transparent;
                    }
                }
            }

            tbody {
                td {
                    border: 0;
                }
            }
        }
    }

    &.custom-tomato-pies-table {
        .tablepress {
            width: 75%;
            margin: 0 auto;

            thead {
                th {
                    background-color: transparent;
                    border: 0;
                }
            }

            .row-1 {
                .column-2 {
                    text-align: center;
                }
            }
        }

        .template-category {
            font-size: 1.6rem;
            font-weight: 700;
            background-color: $red;
            color: $white;
            padding: 5px;
        }

        .locations-heading {
            font-size: 1.6rem;
            color: $red;
            padding-bottom: 10px;
        }

        .location {
            font-size: 1.4rem;
            color: $black;
            font-family: $proximanova-bold;
        }

        pre {
            font-size: 1.9rem;
            display: inline-block;
        }

        .note {
            padding-top: 10px;
            font-size: 1.4rem;
            font-style: italic;
        }
    }

    &.catering {
        .tablepress {
            &-table-name {
                color: $black;
                font-size: 1.8rem;
                font-family: $proximanova-bold;
            }
        }
    }
}

.entry-content {
    tr {
        td {
            padding: 0;
        }
    }
}

.allergy-info {
    h2,
    p {
        font-family: $proximanova-regular;
        color: $black;
        font-size: 1.4rem;
    }

    h2 {
        margin-bottom: 12px;
        font-weight: 600;
    }
}

.table-highlight {
    .row-2 {
        color: $white;

        td {
            color: $green;
            font-size: 1.5rem;
            padding: 8px 0;
            border-right: 3px solid $white;
            font-family: $proximanova-bold;
        }
    }

    .row-3 {
        td {
            font-size: 1.2rem;
            color: $black;
        }
    }

    &.one-column {

        .row-1 {
            td {
                text-align: left;
            }
        }
    }
}

.table-hot-sandwiches {
    .row-1 {
        td {
            text-align: left;
        }
    }

    .row-3 {
        td {
            text-align: left;
            font-size: 1.2rem;
            color: $black;
        }
    }
}

.table-stromboli {
    .tablepress {

        .row-1 {
            td {
                text-align: left;
                padding-bottom: 10px;
            }
        }
        width: 350px;
    }
}

@media only screen and (max-width: $screen__l) {
    .price-table {
        text-align: center;

        .tablepress {
            width: 100%;

            tr {
                td {
                    text-align: center;
                }
            }

            &-table-name {
                margin-top: 15px;
            }
        }

        &.sandwiches-table {
            .tablepress {
                width: 50%;
                margin: 15px auto;
            }
        }
    }

    .allergy-info {
        text-align: center;
    }

    .table-highlight {
        &.one-column {
            .row-1 {
                td {
                    text-align: center;
                }
            }
            .tablepress {
                margin: 15px auto;
            }
        }
    }

    .table-hot-sandwiches {
        .tablepress {
            width: 50%;
            margin: 15px auto;
        }
    }

    .table-stromboli {
        .tablepress {

            .row-1 {
                td {
                    text-align: center;
                }
            }
            width: 50%;
            margin: 15px auto;
        }
    }
}

@media only screen and (max-width: $screen__m) {
    .table-hot-sandwiches,
    .table-stromboli {
        .tablepress {
            width: 100%;
        }
    }
}

@media only screen and (max-width: $screen__s) {
    .price-table {
        &.custom-tomato-pies-table {
            .tablepress {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: $screen__xs) {
    .price-table {
        &.table-hoagie-tray {
            .row-1 {
                td {
                    font-size: 1.6rem
                }
            }
        }

        &.sandwiches-table {
            .tablepress {
                width: 100%;
            }
        }
    }

    .table-highlight {
        &.table-hoagie-tray {
            .row-2 {
                td {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: $screen__xxs) {
    .price-table {
        &.sandwiches-table {
            .tablepress {
                width: 100%;
            }
        }
    }
}