.price-table {
    .tablepress {
        margin-top: 15px;
        border: 0;
        width: 550px;

        &-table {
            &-name {
                color: $red;
                font-size: 2.6rem;
                font-family: $proximanova-black;
                margin-bottom: 5px;
            }

            &-description {
                color: $black;
                font-size: 1.4rem;
                font-family: $proximanova-black;
            }
        }
    }

    .row-1 {
        td {
            color: $red;
            font-size: 2rem;
            font-family: $proximanova-bold;
        }
    }

    &.tray-table {
        .tablepress {
            tbody {
                td {
                    border: 0;
                    padding: 3px 0;
                }
            }
        }
        .row-1 {

            &:hover {
                background: transparent;
            }
            td {
                font-size: 2rem;
                color: $red;
            }

            .column-2,
            .column-3,
            .column-4 {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }

        tr {
            background: transparent;
            transition: background 0.3s ease;

            &:hover {
                background: lighten($lt-gray, 10%);
                cursor: default;
            }
            td {
                font-size: 1.4rem;
                color: $black;
            }
        }
    }
}

.entry-content {
    tr {
        td {
            padding: 0;
        }
    }
}

.allergy-info {
    h2,
    p {
        font-family: $proximanova-regular;
        color: $black;
        font-size: 1.4rem;
    }

    h2 {
        margin-bottom: 12px;
        font-weight: 600;
    }
}

.table-highlight {
    .row-1 {
        td {
            text-align: center;
        }
    }
    .row-2 {
        background: $black;
        color: $white;

        td {
            text-align: center;
            color: $green-highlight;
            font-size: 1.5rem;
            padding: 8px 18px;
            border-right: 3px solid $white;
            font-family: $proximanova-bold;
        }
    }

    &.one-column {

        .row-1 {
            td {
                text-align: left;
            }
        }
        .tablepress {
            width: 220px;
        }
    }
}

.table-hot-sandwiches {
    .row-1 {
        td {
            text-align: left;
            padding-bottom: 10px;
        }
    }

    .row-3 {
        td {
            text-align: right;
            font-size: 1.2rem;
            color: $black;
        }
    }
}

.table-stromboli {
    .tablepress {

        .row-1 {
            td {
                text-align: left;
                padding-bottom: 10px;
            }
        }
        width: 350px;
    }
}

@media only screen and (max-width: $screen__l) {
    .price-table {
        text-align: center;

        .tablepress {
            width: 100%;

            tr {
                td {
                    text-align: center;
                }
            }

            &-table-name {
                margin-top: 15px;
            }
        }
    }

    .allergy-info {
        text-align: center;
    }

    .table-highlight {
        &.one-column {
            .row-1 {
                td {
                    text-align: center;
                }
            }
            .tablepress {
                margin: 15px auto;
            }
        }
    }

    .table-hot-sandwiches {
        .tablepress {
            width: 50%;
            margin: 15px auto;
        }
    }

    .table-stromboli {
        .tablepress {

            .row-1 {
                td {
                    text-align: center;
                }
            }
            width: 50%;
            margin: 15px auto;
        }
    }
}

@media only screen and (max-width: $screen__m) {
    .table-hot-sandwiches,
    .table-stromboli {
        .tablepress {
            width: 100%;
        }
    }
}

@media only screen and (max-width: $screen__xs) {
    .price-table {
        &.table-hoagie-tray {
            .row-1 {
                td {
                    font-size: 1.6rem
                }
            }
        }
    }

    .table-highlight {
        &.table-hoagie-tray {
            .row-2 {
                td {
                    font-size: 1rem;
                }
            }
        }
    }
}