/* Proximanova - Black */
@font-face {
    font-family: 'proximanova';
    src: url('fonts/proximanova-black-webfont.eot');
    src: url('fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-black-webfont.woff') format('woff'),
         url('fonts/proximanova-black-webfont.ttf') format('truetype'),
         url('fonts/proximanova-black-webfont.svg#proximanova-black-webfont') format('svg');
    font-weight: 500;
    font-style: normal;
}